
.Crousel-Item{
  display: none;
}
.firstpage{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.firstpage-header-section{
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: rgba(255, 156, 9, 0.8);
  justify-content: center;
  align-items: center;
  gap: 60%;
}
.firstpage-first-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.firstpage-whitebox{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 5px 7px;
  gap: 6px;
  border-radius: 3px;
  color: #000;

 
}
.firstpage-text1{
  font-size: 26px;
  font-weight: 600;
}
.firstpage-text3{
  margin-bottom: 0px;
}
.firstpage-card-section{
  
    display: flex;
    flex-direction: row;
    height: 380px; 
    background-image: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0) 0%,
      #ff9c08 92%
    );
    align-items:flex-start;
    padding-top: 50px;
    justify-content:center;
      gap: 20px;
      padding: 20px;
  
}
.firstpage-card-section-image,.firstpage-card-section-image2{
height: 274px;
width: 450px;
}
.firstpage-information-card{
  display: flex;
  flex-direction: column;
  height: 274px;
  min-width:450px ;
  border: 5px solid white;
  background-image: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0) 0%,
    #ff9c08 92%
  );
  border-radius: 25px;
}
.firstpage-heading-information{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.firstpage-detail-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 11px 20px;
}
.firstpage-detail-options{
  width: 90px;
}
.firstpage-person-details{ 
   display: flex;
  flex-direction: column;
}
.firstpage-person-name,.firstpage-person-place,.firstpage-person-status,.firstpage-person-rollno{
  display: flex;
  flex-direction: row;
}
.firstpage-person-image{
  width: 100px;
  height: 100px;
}
.copyright-block{
  display: flex;
  font-size: 16px;
  font-family: Hind;
  width: 100%;
  height: 35px;
  background-color: #f8d5a1;
  flex-direction: row;
  justify-content: center;
  padding: 13px 0px 10px 0px;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}
/*cards*/
.cardimages{
  height:60px;
  width: 60px;
  margin-top: 20px;
}
.options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
display: flex;
gap: 10px;
flex-direction: column;
background-color: white;
justify-content: center;
align-items: center;
border: 2px solid  #e78d07;
border-radius: 15px;
width: 100px;
height: 105px;
box-shadow: 4px 4px 4px 2px rgba(231, 150, 7, 0.3);
position: absolute;
}

.fifthpage-options-values{
  font-size: 14px;
  font-weight: 700;
}
.firstpage-cards{
  position: absolute;
  height: 230px;   
  width: 815px;

  top: 400px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.options1{
  top: 0px;
  left: 0px;
}
.options2{
  top: 0px;
  left: 150px;
}
.options3{
  top: 0px;
  left: 300px;
}
.options4{
  top: 00px;
  left: 450px;
}
.options5{
  top: 0px;
  left: 600px;
}
.options6{
  top: 0px;
  left: 750px;
}
.options7{
  top: 120px;
  left: 0px;
}
.options8{
  top: 120px;
  left: 150px;
}
.options9{
  top: 120px;
  left: 300px;
}
.options10{
  top: 120px;
  left: 450px;
}
.options11{
  top: 120px;
  left: 600px;
}
.options12{
  top: 120px;
  left: 750px;
}

/*cards*/
@media (max-width:1430px) {
  .firstpage-card-section-image,.firstpage-card-section-image2{
    height: 274px;
    width: 400px;
    }
    .firstpage-information-card{
      height: 274px;
      min-width: 400px;
    }
    .firstpage-header-section{
      gap: 52%;
    }
}

@media (max-width:1300px) {
  .firstpage-card-section-image,.firstpage-card-section-image2{
    height: 265px;
    width: 350px;
    }
    .firstpage-information-card{
      height: 265px;
      min-width:350px;
    }
}
@media (max-width:1200px) {
  .firstpage-header-section{
    gap: 48%;
  }
    
  }

@media (max-width:1130px) {
  .firstpage-card-section-image,.firstpage-card-section-image2{
    height: 255px;
    width: 300px;
    }
    .firstpage-information-card{
      height: 255px;
      width: 300px;
    }
    .firstpage-detail-information{
      margin: 4px 20px;
    }
    .firstpage-header-section{
      gap: 45%;
    }
}
@media (max-width:1070px) {
  
  .firstpage-header-section{
    gap: 38%;
  }
  .firstpage-text1{
    font-size: 26px;
  }

}
@media (max-width:1020px) {
  .firstpage{
    height: 100%;
  }
  .copyright-block{
    position: absolute;
    top: 1270px;
    height: 50px;
  }
  .cardimages{
    height:100px;
    width: 100px;
    margin-top: 20px;
  }
  .options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
  gap: 10px;
  width: 150px;
  height: 155px;
  }
  
  .fifthpage-options-values{
    font-size: 14px;
    font-weight: 700;
  }
  .firstpage-cards{
    height: 90%;
    width: 816px;
    top: 630px;
   
  }

  .options1{
    top: 0px;
    left: 0px;
  }
  .options2{
    top: 0px;
    left: 222px;
  }
  .options3{
    top: 0px;
    left: 444px;
  }
  .options4{
    top: 00px;
    left: 666px;
  }
  .options5{
    top: 175px;
    left: 0px;
  }
  .options6{
    top: 175px;
    left: 222px;
  }
  .options7{
    top: 175px;
    left: 444px;
  }
  .options8{
    top: 175px;
    left: 666px;
  }
  .options9{
    top: 345px;
    left: 0px;
  }
  .options10{
    top: 345px;
    left: 222px;
  }
  .options11{
    top: 345px;
    left: 444px;
  }
  .options12{
    top: 345px;
    left: 666px;
  }
  .firstpage-card-section-image,.firstpage-card-section-image2{
   display: none;
    }
    .firstpage-information-card{
  display: none;
    }
    .Crousel-Item{
      display: block;
      margin-top: 20px;
    }
    .firstpage-card-section{
      height: 37rem;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: auto;
      width:100%;
      min-width: 816px;
    }
    .Crousel-firstpage-information-card{
      display: flex;
      flex-direction: column;
      height: auto;
      width:100% ;
      min-width: 816px;
      border: 5px solid white;
      background-image: linear-gradient(
        180deg,
        rgba(217, 217, 217, 0) 0%,
        #ff9c08 92%
      );
      border-radius: 25px;

    }
    .Crousel-firstpage-heading-information{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .Crousel-firstpage-detail-information{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
    .Crousel-firstpage-person-details{
      display: flex;
      flex-direction: column;

    }
    .Crousel-firstpage-person-name,.Crousel-firstpage-person-rollno,.Crousel-firstpage-person-status,.Crousel-firstpage-person-place{
      display: flex;
      flex-direction: row;
      font-size: 20px;
      margin-bottom: 15px;
    }
    
    .Crousel-firstpage-heading-information-label{
      font-size: 24px;
    }
    .Crousel-firstpage-person-image{
      width: 200px;
      height: 200px;
    }
    .Crousel-firstpage-heading-information-logo{
      height: 130px;
    }
    .Crousel-firstpage-detail-information{
      margin: 20px 30px;
    } 
    .Crousel-firstpage-person-details{
      align-items: space-between;
    }
    .Crousel-firstpage-detail-options{
      width: 100%;
      min-width: 155px;
    }
 
   
}
@media (max-width:970px) {
  .firstpage-header-section{
    gap: 35%;
  }
}
@media (max-width:900px) {

  .firstpage-cards{
    height: 605px;
    width: 740px;
    top: 630px;
  }
  .options1{
    top: 0px;
    left: 0px;
  }
  .options2{
    top: 0px;
    left: 196.6px;
  }
  .options3{
    top: 0px;
    left: 393.2px;
  }
  .options4{
    top: 00px;
    left: 589.8px;
  }
  .options5{
    top: 175px;
    left: 0px;
  }
  .options6{
    top: 175px;
    left: 196.6px;
  }
  .options7{
    top: 175px;
    left: 393.2px;
  }
  .options8{
    top: 175px;
    left: 589.8px;
  }
  .options9{
    top: 345px;
    left: 0px;
  }
  .options10{
    top: 345px;
    left: 196.6px;
  }
  .options11{
    top: 345px;
    left: 393.2px;
  }
  .options12{
    top: 345px;
    left: 589.8px;
  }
  
  .firstpage-header-section{
    gap: 30%;
  }
  .firstpage-text1{
    font-size: 26px;
  }
    .firstpage-card-section{
      height: 37rem;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: 432px;
      width:100% ;
      min-width: 726px;
    }
    .Crousel-firstpage-information-card{
      height: auto;
      width:100% ;
      min-width: 736px;
      }
    .Crousel-firstpage-heading-information{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .Crousel-firstpage-detail-information{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
    .Crousel-firstpage-person-details{
      display: flex;
      flex-direction: column;

    }
    .Crousel-firstpage-person-name,.Crousel-firstpage-person-rollno,.Crousel-firstpage-person-status,.Crousel-firstpage-person-place{
      display: flex;
      flex-direction: row;
      font-size: 20px;
      margin-bottom: 10px;
    }
   
    .Crousel-firstpage-heading-information-label{
      font-size: 24px;
    }
    .Crousel-firstpage-person-image{
      width: 200px;
      height: 200px;
    }
    .Crousel-firstpage-heading-information-logo{
      height: 130px;
    }
    .Crousel-firstpage-detail-information{
      margin: 20px 30px;
    } 
    .Crousel-firstpage-person-details{
      align-items: space-between;
    }
    .Crousel-firstpage-detail-options{
      width: 160px;
    }
}
@media (max-width: 800px) {
  .firstpage{
    height: 100%;
  }
  .cardimages{
    height:100px;
    width: 100px;
    margin-top: 20px;
  }
  .options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
  gap: 10px;
  width: 160px;
  height: 165px;
  }
  
  .firstpage-options-values{
    font-size: 14px;
    font-weight: 700;
  }
  .copyright-block{
    
    top: 1550px;
    
  }
  .firstpage-cards{
    height: 85%;
    width: 640px;
    top: 630px;
  }
  .options1{
    top: 0px;
    left: 0px;
  }
  .options2{
    top: 0px;
    left: 240px;
  }
  .options3{
    top: 0px;
    left: 480px;
  }
  .options4{
    top: 185px;
    left: 0px;
  }
  .options5{
    top: 185px;
    left: 240px;
  }
  .options6{
    top: 185px;
    left: 480px;
  }
  .options7{
    top: 370px;
    left: 0px;
  }
  .options8{
    top: 370px;
    left: 240px;
  }
  .options9{
    top: 370px;
    left: 480px;
  }
  .options10{
    top: 555px;
    left: 0px;
  }
  .options11{
    top: 555px;
    left: 240px;
  }
  .options12{
    top: 555px;
    left: 480px;
  }
    .firstpage-header-section{
      gap: 20%;
    }

    .firstpage-card-section{
      height: 37rem;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: 448px;
      min-width: 600px;
      width: 100%;
      max-width: 656px;
      
    }
    .Crousel-firstpage-information-card{
      height: auto;
      width:100% ;
      min-width: 656px;
      }
    .Crousel-firstpage-heading-information{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .Crousel-firstpage-detail-information{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
    .Crousel-firstpage-person-details{
      display: flex;
      flex-direction: column;

    }
    .Crousel-firstpage-person-name,.Crousel-firstpage-person-rollno,.Crousel-firstpage-person-status,.Crousel-firstpage-person-place{
      display: flex;
      flex-direction: row;
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .Crousel-firstpage-heading-information-label{
      font-size: 24px;
    }
    .Crousel-firstpage-person-image{
      width: 180px;
      height: 180px;
    }
    .Crousel-firstpage-heading-information-logo{
      height: 130px;
    }
    .Crousel-firstpage-detail-information{
      margin: 20px 30px;
    } 
    .Crousel-firstpage-person-details{
      align-items: space-between;
    }
    .Crousel-firstpage-detail-options{
      width: 160px;
    }
    .firstpage-header-section{
      gap: 15%;
    }
  }
  @media (max-width: 680px) {
  
   .cardimages{
    height:90px;
    width: 90px;
    margin-top: 20px;
  }
  .options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
  gap: 10px;
  width: 140px;
  height: 145px;
  }
  
  .firstpage-options-values{
    font-size: 14px;
    font-weight: 700;
  }
  .firstpage-cards{
    height: 830px;
    width: 540px;
    top: 630px;
  }
  .options1{
    top: 0px;
    left: 0px;
  }
  .options2{
    top: 0px;
    left: 200px;
  }
  .options3{
    top: 0px;
    left: 400px;
  }
  .options4{
    top: 185px;
    left: 0px;
  }
  .options5{
    top: 185px;
    left: 200px;
  }
  .options6{
    top: 185px;
    left: 400px;
  }
  .options7{
    top: 370px;
    left: 0px;
  }
  .options8{
    top: 370px;
    left: 200px;
  }
  .options9{
    top: 370px;
    left: 400px;
  }
  .options10{
    top: 555px;
    left: 0px;
  }
  .options11{
    top: 555px;
    left: 200px;
  }
  .options12{
    top: 555px;
    left: 400px;
  }
      .firstpage-header-section{
        gap: 2%;
      }
      .firstpage-text1{
        font-size: 26px;
        font-weight: 700;
      }
   
    .firstpage-card-section{
      height: 37rem;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: 400px;
      width:100% ;
      min-width: 500px;
      max-width: 560px;

    }
    .Crousel-firstpage-information-card{
      height: auto;
      width:100% ;
      min-width: 560px;
      }
    .Crousel-firstpage-heading-information{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .Crousel-firstpage-detail-information{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
    .Crousel-firstpage-person-details{
      display: flex;
      flex-direction: column;

    }
    .Crousel-firstpage-person-name,.Crousel-firstpage-person-rollno,.Crousel-firstpage-person-status,.Crousel-firstpage-person-place{
      display: flex;
      flex-direction: row;
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .Crousel-firstpage-heading-information-label{
      font-size: 26px;
    }
    .Crousel-firstpage-person-image{
      width: 150px;
      height: 150px;
    }
    .Crousel-firstpage-heading-information-logo{
      height: 110px;
    }
    .Crousel-firstpage-detail-information{
      margin: 20px 30px;
    } 
    .Crousel-firstpage-person-details{
      align-items: space-between;
    }
    .Crousel-firstpage-detail-options{
      width: 100%;
      min-width: 120px;
    }
  }
  @media (max-width: 590px) {
  
    .cardimages{
      height:80px;
      width: 80px;
      margin-top: 20px;
    }
    .options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
    gap: 10px;
    width: 130px;
    height: 135px;
    }
    
    .firstpage{
      height: 100%;
    }
    .firstpage-options-values{
      font-size: 14px;
      font-weight: 700;
    }
    .firstpage-cards{
      height: 830px;
      width: 448px;
      top: 550px;
    }
    .options1{
      top: 0px;
      left: 0px;
    }
    .options2{
      top: 0px;
      left: 159px;
    }
    .options3{
      top: 0px;
      left: 318px;
    }
    .options4{
      top: 185px;
      left: 0px;
    }
    .options5{
      top: 185px;
      left: 159px;
    }
    .options6{
      top: 185px;
      left: 318px;
    }
    .options7{
      top: 370px;
      left: 0px;
    }
    .options8{
      top: 370px;
      left: 159px;
    }
    .options9{
      top: 370px;
      left: 318px;
    }
    .options10{
      top: 555px;
      left: 0px;
    }
    .options11{
      top: 555px;
      left: 159px;
    }
    .options12{
      top: 555px;
      left: 318px;
    }
      .firstpage-header-section{
        gap: 0%;
      }
      .firstpage-text1{
        font-size: 26px;
      }
 
    .firstpage-card-section{
      height: 37rem;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: 336px;
      width:100% ;
      min-width: 400px;
      max-width: 448px;
    }
    .Crousel-firstpage-information-card{
      height: auto;
      width:100% ;
      min-width: 28rem;
      }
    .Crousel-firstpage-heading-information{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .Crousel-firstpage-detail-information{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
    .Crousel-firstpage-person-details{
      display: flex;
      flex-direction: column;

    }
    .Crousel-firstpage-person-name,.Crousel-firstpage-person-rollno,.Crousel-firstpage-person-status,.Crousel-firstpage-person-place{
      display: flex;
      flex-direction: row;
      font-size: 18px;
      margin-bottom: 5px;
    }
    
    .Crousel-firstpage-heading-information-label{
      font-size: 22px;
    }
    .Crousel-firstpage-person-image{
      width: 110px;
      height: 110px;
    }
    .Crousel-firstpage-heading-information-logo{
      height: 90px;
    }
    .Crousel-firstpage-detail-information{
      margin: 20px 30px;
    } 
   
    .Crousel-firstpage-detail-options{
      width: 100%;
      min-width: 105px;
    }
    .firstpage-text1{
      font-size: 24px;
    }
  }
  @media (max-width: 500px) {
    .cardimages{
      height:60px;
      width: 60px;
      margin-top: 20px;
    }
    .options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
    gap: 10px;
    width: 120px;
    height: 110px;
    }
    .firstpage{
      height: 100%;
    }
    .firstpage-options-values{
      font-size: 14px;
      font-weight: 700;
    }
    .firstpage-cards{
      height: 60%;
      width: 400px;
      top: 500px;
  

    }
    .copyright-block{
      top:1150px ;
    }
    .options1{
      top: 0px;
      left: 00px;
    }
    .options2{
      top: 0px;
      left: 135px;
    }
    .options3{
      top: 0px;
      left: 270px;
    }
    .options4{
      top: 130px;
      left: 0px;
    }
    .options5{
      top: 130px;
      left: 135px;
    }
    .options6{
      top: 130px;
      left: 270px;
    }
    .options7{
      top: 260px;
      left: 0px;
    }
    .options8{
      top: 260px;
      left: 135px;
    }
    .options9{
      top: 260px;
      left: 270px;
    }
    .options10{
      top: 390px;
      left: 0px;
    }
    .options11{
      top: 390px;
      left: 135px;
    }
    .options12{
      top: 390px;
      left: 270px;
    }
.firstpage-text1{
  display: none;
}
.firstpage-header-section{
  gap: 40%;
}
    .firstpage-card-section{
      height: 37rem;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: 304px;
      width:100% ;
      max-width: 400px;
      min-width: 350px;
    }
    .Crousel-firstpage-information-card{
      height: auto;
      width:100% ;
      min-width: 400px;
      }
    .Crousel-firstpage-heading-information{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .Crousel-firstpage-detail-information{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
    .Crousel-firstpage-person-details{
      display: flex;
      flex-direction: column;

    }
    .Crousel-firstpage-person-name,.Crousel-firstpage-person-rollno,.Crousel-firstpage-person-status,.Crousel-firstpage-person-place{
      display: flex;
      flex-direction: row;
      font-size: 16px;
      margin-bottom: 2px;
    }
    
    .Crousel-firstpage-heading-information-label{
      font-size: 20px;
    }
    .Crousel-firstpage-person-image{
      width: 110px;
      height: 110px;
    }
    .Crousel-firstpage-heading-information-logo{
      height: 90px;
    }
    .Crousel-firstpage-detail-information{
      margin: 20px 10px 20px 20px;
    } 
   
    .Crousel-firstpage-detail-options{
      width: 100%;
      min-width: 90px;
    }
  }
  @media (max-width:430px) {
    .cardimages{
      height:50px;
      width: 50px;
      margin-top: 20px;
    }
    .options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
    gap: 10px;
    width: 110px;
    height: 120px;
    }
    
    .firstpage-options-values{
      font-size: 14px;
      font-weight: 700;
    }
    .firstpage-cards{
      height: 510px;
      width: 352px;
      top: 450px;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: 304px;
      width:100% ;
      max-width: 352px;
      min-width: 330px;
    }
    .Crousel-firstpage-information-card{
      height: auto;
      width:100% ;
      min-width: 352px;
      }
      
      .options1{
        top: 0px;
        left: 0px;
      }
      .options2{
        top: 0px;
        left: 121px;
      }
      .options3{
        top: 0px;
        left: 242px;
      }
      .options4{
        top: 135px;
        left: 0px;
      }
      .options5{
        top: 135px;
        left: 121px;
      }
      .options6{
        top: 135px;
        left: 242px;
      }
      .options7{
        top: 270px;
        left: 0px;
      }
      .options8{
        top: 270px;
        left: 121px;
      }
      .options9{
        top: 270px;
        left: 242px;
      }
      .options10{
        top:405px;
        left: 0px;
      }
      .options11{
        top: 405px;
        left: 121px;
      }
      .options12{
        top: 405px;
        left: 242px;
      }
    .firstpage-header-section{
      gap: 35%;
    }
  }
  @media (max-width: 400px) {
  
    .firstpage-header-section{
      gap: 20%;
    }
    .firstpage-card-section{
      height: 37rem;
    }
    .Crousel-card-image,.Crousel-card-image1{
      height: 256px;
      width:100% ;
      max-width: 320px;
      min-width: 300px;
    }
    .Crousel-firstpage-information-card{
      height: auto;
      width:100% ;
      min-width: 320px;
      }
    .Crousel-firstpage-heading-information{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .Crousel-firstpage-detail-information{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px;
    }
    .Crousel-firstpage-person-details{
      display: flex;
      flex-direction: column;

    }
    .Crousel-firstpage-person-name,.Crousel-firstpage-person-rollno,.Crousel-firstpage-person-status,.Crousel-firstpage-person-place{
      display: flex;
      flex-direction: row;
      font-size: 15px;
      margin-bottom: 0px;
    }
    
    .Crousel-firstpage-heading-information-label{
      font-size: 17px;
    }
    .Crousel-firstpage-person-image{
      width: 80px;
      height: 80px;
    }
    .Crousel-firstpage-heading-information-logo{
      height: 70px;
    }
    .Crousel-firstpage-detail-information{
      margin: 0px 10px 20px 20px;
    } 
   
    .Crousel-firstpage-detail-options{
      width: 90px;
    }
    .firstpage-cards{
      height: 510px;
      width: 320px;
      top: 450px;
    }
    .options1,.options2,.options3,.options4,.options5,.options6,.options7,.options8,.options9,.options10,.options11,.options12{
      gap: 10px;
      width: 100px;
      height: 110px;
      }
    .options1{
      top: 0px;
      left: 0px;
    }
    .options2{
      top: 0px;
      left: 110px;
    }
    .options3{
      top: 0px;
      left: 220px;
    }
    .options4{
      top: 135px;
      left: 0px;
    }
    .options5{
      top: 135px;
      left: 110px;
    }
    .options6{
      top: 135px;
      left: 220px;
    }
    .options7{
      top: 270px;
      left: 0px;
    }
    .options8{
      top: 270px;
      left: 110px;
    }
    .options9{
      top: 270px;
      left: 220px;
    }
    .options10{
      top:405px;
      left: 0px;
    }
    .options11{
      top: 405px;
      left: 110px;
    }
    .options12{
      top: 405px;
      left: 220px;
    }
    .copyright-block{
    
      font-size: 14px;
    }
  }