.information{

    display:flex;
    flex-direction: column;
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    
  }
  .personal-detail{
    margin-left: 10px;
  }
  
  .initials{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    display: contents;
  }
  
  .desktop-root{
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 1024px;
    mix-blend-mode: normal;
    background-color: #ffffff;
    display: flex;
    border: 1px solid black;
    overflow: hidden;
  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .first-column{
    width: 421px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    margin: 0px 23px 0px 0px;
  }
  .first-box{
    height: 84px;
    position: relative;
    min-width: 421px;
  }
  .column1{
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 367px;
    height: 212px;
    mix-blend-mode: normal;
    background-image: linear-gradient(
      180deg,
      #f8d5a1 14%,
      #f6b555 56%,
      #f39407 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
    border-radius: 20px;
    padding: 14px 23px 14px 21px;
    border-width: 5px;
  }
  .logo{
    height: 84px;
    position: relative;
    min-width: 421px;
  }
  .row1{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    gap: 57px;
    min-width: 367px;
    align-items: center;
  }
  .second-column{
    width: 435px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 74px;
    align-items: center;
  }
  .whitebox{
    width: 119px;
    mix-blend-mode: normal;
    background-color: #ffffff;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 4px 0px;
    margin: 0px 9px 0px 0px;
  }
  .first-row{
    width: 100%;
    mix-blend-mode: normal;
    background-image: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0) 0%,
      #ff9c08 92%
    );
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    padding: 0px 50px 261px 0px;
  }
  .first-img{
    width: 110px;
    height: 84px;
    mix-blend-mode: normal;
    position: absolute;
   
  }
  .text1{
    mix-blend-mode: normal;
    font-size: 24px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 22px;
    left: 100px;
  }
  
  .first-img1{
    width: 110px;
    height: 85px;
    mix-blend-mode: normal;
    position: absolute;
  }
  .text2{
    mix-blend-mode: normal;
    font-size: 22px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 23px;
    left: 95px;
  }
  .first-img2{
    width: 100px;
    height: 100px;
    mix-blend-mode: normal;
    align-self: flex-start;
  }
  .first-img3{
    width: 435px;
    height: 250px;
    mix-blend-mode: normal;
    align-self: flex-end;
    margin: 0px 23px 0px 0px;
  }
  
  .text3{
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
  }
  .first-img4{
    width: 7px;
    height: 5px;
    mix-blend-mode: normal;
    align-self: flex-end;
    margin: 0px 0px 9px 0px;
  }
  .first-img5{
    width: 435px;
    height: 248px;
    mix-blend-mode: normal;
  }
  .main{
    height: 801px;
    position: relative;
    min-width: 100%;
  }
  .upper-nav{
    width: 100%;
    height: 80px;
    mix-blend-mode: normal;
    background-color: rgba(255, 156, 9, 0.8);
    position: absolute;
  }
  .copyright-block{
    mix-blend-mode: normal;
    display: flex;
    font-size: 16px;
    font-family: Hind;
    width: 100%;
    height: 26px;
    background-color: #f8d5a1;
    flex-direction: row;
    justify-content: center;
    padding: 13px 0px 10px 0px;
  }
  .white-block{
    border-style: solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1148px;
    height: 355px;
    mix-blend-mode: normal;
    background-color: #ffffff;
    position: absolute;
    top: 444px;
    left: 180px;
    border-radius: 20px;
    border-width: 1px;
  }
  .text4{
    mix-blend-mode: normal;
    width: 47px;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 291px;
    left: 1004px;
  }
  .text14{
    mix-blend-mode: normal;
    width: 109px;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 291px;
    left: 820px;
  }
  .text5{
    mix-blend-mode: normal;
    width: 60px;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 291px;
    left: 643px;
  }
  .text15{
    mix-blend-mode: normal;
    width: 31px;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 293px;
    left: 477px;
  }
  .text6{
    mix-blend-mode: normal;
    width: 60px;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 292px;
    left: 281px;
  }
  .text7{
    mix-blend-mode: normal;
    width: 45px;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 293px;
    left: 114px;
  }
  .text8{
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 127px;
    left: 1001px;
  }
  .text9{
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 127px;
    left: 838px;
  }
  .text10{
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 127px;
    left: 643px;
  }
  .text11{
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 127px;
    left: 462px;
  }
  .text12{
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 127px;
    left: 281px;
  }
  .text13{
    mix-blend-mode: normal;
    font-size: 16px;
    font-family: Hind;
    font-weight: 700;
    position: absolute;
    top: 127px;
    left: 108px;
  }
  .Newspaper{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 45px;
    left: 101px;
  }
  .Healthinsurance{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 45px;
    left: 991px;
  }
  .Cooperation{ 
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 45px;
    left: 828px;
  }
  .Suitcase{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 45px;
    left: 635px;
  }
  .Couple{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 45px;
    left: 457px;
  }
  .Contactbook{ 
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 45px;
    left: 279px;
  }
  .Inspection{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 220px;
    left: 991px;
  }
  .Lawyer{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 220px;
    left: 835px;
  }
  .Horoscope{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 220px;
    left: 635px;
  }
  .Swastika{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 220px;
    left: 457px;
  }
  .Literature{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 220px;
    left: 279px;
  }
  .Portion{
    width: 60px;
    height: 60px;
    mix-blend-mode: normal;
    position: absolute;
    top: 220px;
    left: 101px;
  }
  .Line{
    width: 952px;
    height: 1px;
    mix-blend-mode: normal;
    position: absolute;
    top: 186px;
    left: 99px;
  }
  .Line1{
    width: 1px;
    height: 218px;
    mix-blend-mode: normal;
    position: absolute;
    top: 75px;
    left: 946px;
  }
  .Line2{
    width: 1px;
    height: 218px;
    mix-blend-mode: normal;
    position: absolute;
    top: 78px;
    left: 769px;
  }
  .Line3{
    width: 1px;
    height: 218px;
    mix-blend-mode: normal;
    position: absolute;
    top: 75px;
    left: 574px;
  }
  .Line4{
    width: 1px;
    height: 218px;
    mix-blend-mode: normal;
    position: absolute;
    top: 75px;
    left: 399px;
  }
  .Line5{
    width: 1px;
    height: 218px;
    mix-blend-mode: normal;
    position: absolute;
    top: 78px;
    left: 219px;
  }
  